body {
  background-color: #fdfafa;
}

.container {
  display: flex;
}

.player-tracks {
  flex: 1.3;
}

header {
  height: 6.5rem;
  background-color: var(--white-background);

  /* width: min(63.5rem, 100%); */

  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 4rem;
}

.logo-image img {
  min-width: 11rem;
  height: 3rem;

  height: 100%;
  object-fit: cover;
}

.intro-text {
  width: 100%;
  height: 1.7rem;
  border-left: 1px solid #e6e8eb;
  padding-left: 2rem;
  font-size: 0.9rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-text p {
  color: var(--text-body);
  width: fit-content;
}

.player-podcast {
  height: 100vh;
  flex: 0.5;
}
