.player-podcast {
  flex: 0.5;
  background-color: var(--primary-purple);
}

.player-podcast h1 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  padding: 2.5rem 0 5rem 0;
}

.player-podcast h1 img {
  width: 2rem;
  height: 2rem;
}

.player-podcast h1 span {
  font: 600 1.2rem var(--font-lexend);
  color: var(--white-background);
}

.player-image {
  display: flex;
  justify-content: center;
}

.player-image img {
  width: min(19rem, 100%);
  height: min(22rem, 100%);
}

.player-info {
  padding: 3rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.player-info h2 {
  font: 600 1.5rem var(--font-lexend);
  color: var(--white-background);
}

.player-info p {
  font-weight: 400;
  font-size: 1rem;
  color: #dccdff;
}

.reproduction-track {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 2rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.prev,
.next {
  width: 24px;
  height: 24px;
}

button {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  color: #ffffff;

  font-size: 24px;
}

.controls img {
  width: 100%;
  height: 100%;
}

audio {
  display: none;
}
